<div class="wrap">

  <header>
    <img src="assets/logo.png" alt="ProjetoUm">
    <h1>ProjetoUm<small>Meu primeiro projeto</small></h1>
  </header>

  <nav>
    <div><i class="fas fa-home fa-fw"></i><span>Início</span></div>
    <div><i class="fas fa-comments fa-fw"></i><span>Contatos</span></div>
    <div><i class="fas fa-info-circle fa-fw"></i><span>Sobre</span></div>
  </nav>

  <main>

    <router-outlet></router-outlet>

  </main>

  <footer>

    <div class="top">
      <div><i class="fas fa-home fa-fw"></i></div>
      <div>&copy; Copyright 2021 Lucas Teixeira</div>
      <div><i class="fas fa-arrow-alt-circle-up fa-fw"></i></div>
    </div>

    <div class="botton">

      <div class="left">
        <div><i class="fab fa-github-square fa-fw"></i><span>GitHub.com</span></div>
        <div><i class="fab fa-youtube-square fa-fw"></i><span>Youtube</span></div>
        <div><i class="fab fa-facebook-square fa-fw"></i><span>Facebook</span></div>
      </div>

      <div class="right">
        <div><i class="fas fa-comments fa-fw"></i><span>Contatos</span></div>
        <div><i class="fas fa-info-circle fa-fw"></i><span>Sobre</span></div>
        <div><i class="fas fa-lock fa-fw"></i><span>Privacidade</span></div>
      </div>

    </div>
  </footer>

</div>
