/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  outline: 0;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  color: orangered;
}

h1, h2, h3, h4, h5, p {
  margin: .85rem 0;
}

/* fundo das páginas */
body {
  background-color: black;
  background-image: url('assets/background01.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Páginas */
article {
  background: white;
    border: 3px double grey;
    margin: .25rem;
    border-radius: .4rem;
    padding: 0 1rem;
}

/* Estilos de uso geral */
p.center {
text-align: center;
}

img.fluid {
  max-width: 100%;
}
